/**

Designed and coded by myself.
This was hand crafted code.
Try screen reader on this site.

**/
:root {
  --blue: #0063b0;
  --white: #f1f4f6;
  --dark-bg: #2f3c49;
}

* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  min-height: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 1.125rem;
  background-color: var(--white);
  line-height: 1.6;
}
a {
  color: var(--blue);
  text-decoration: underline;
  text-underline-offset: 0.25rem;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  margin-top: 0;
  color: var(--dark-bg);
}

h1 {
  font-size: clamp(1.75rem, 2.5vw, 2.25rem);
  color: white;
  margin-bottom: 0.75rem;
}
h2 {
  font-size: clamp(1.75rem, 2.5vw, 2.25rem);
  margin-bottom: 1rem;
}
ul {
  padding: 0;
}
.mb {
  margin-bottom: 4rem;
}
aside {
  flex-grow: 1.618003;
  flex-shrink: 1.618003;
  flex-basis: 0;
  background-image: url("img/bg.jpg");
  background-size: cover;
  background-position: 50% bottom;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  /* clip-path: polygon(0 0, 100% 8%, 100% 92%, 0% 100%); */
}
aside .mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(47, 60, 73, 0.65);
}

aside header {
  margin: 4rem 4rem 0 0;
  position: relative;
  z-index: 1;
  text-align: right;
}

aside img {
  /* width: 100%; */
  height: 100vh;
}
main {
  padding: 4rem;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

.social-links {
  margin-bottom: 4rem;
}
.social-links span {
  margin-right: 0.25rem;
}
.social-button {
  text-decoration: none;
}
.social-links img {
  height: 1.125rem;
}
section:not(:last-child) {
  margin-bottom: 4rem;
}
abbr[title] {
  position: relative;

  /* ensure consistent styling across browsers */
  text-decoration: underline dotted;
}

abbr[title]:hover::after,
abbr[title]:focus::after {
  content: attr(title);

  /* position tooltip like the native one */
  position: absolute;
  left: 0;
  bottom: -30px;
  width: auto;
  white-space: nowrap;

  /* style tooltip */
  background-color: var(--dark-bg);
  color: #fff;
  border-radius: 3px;
  font-size: 0.875rem;
  padding: 3px 5px;
}
p {
  width: max(320px, 85%);
}

main .logo {
  filter: grayscale(0.75);
  position: relative;
  width: 48px;
  height: 48px;
  display: inline-flex;
  margin-right: 0.5rem;
  margin-left: -6px;
  justify-content: center;
  align-items: center;
}
main .logo img {
  height: 36px;
}
main .logo:hover {
  filter: grayscale(0);
}
.logo label {
  display: none;
}
.logo:hover label,
.logo:focus label {
  display: inline-block;
  position: absolute;
  bottom: -2px;
  background-color: var(--dark-bg);
  color: white;
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  transform: translate(0, 100%);
}

@media only screen and (max-width: 1023px) {
  body {
    flex-direction: column;
  }
  aside {
    background-position: 50% center;
    min-height: 50vh;
  }
  main {
    padding: 2rem;
  }
  section:not(:last-child),
  .social-links {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 576px) {
  aside {
    min-height: 100vh;
  }
}

.paper {
  position: relative;
  margin: 40px;
  width: 680px;
  background: #ffffff;
  border-radius: 2px;
  padding: 2rem;
}

.paper::before,
.paper::after {
  content: "";
  position: absolute;
  bottom: 10px;
  width: 40%;
  height: 10px;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.7);
  z-index: -1;
  transition: all 0.3s ease-in-out;
}

.paper::before {
  left: 15px;
  transform: skew(-3deg) rotate(-3deg);
}

.paper::after {
  right: 15px;
  transform: skew(3deg) rotate(3deg);
}

.paper ul {
  list-style: circle;
  margin-left: 1.125rem;
}
.paper li {
  margin-bottom: 0.5rem;
}
.d-flex {
  display: flex;
  align-items: center;
}

nav {
  white-space: nowrap;
  position: fixed;
  top:0;
  z-index: 1;
  display:flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
  background: inherit;
}
.control button{
  background: transparent;
  border: 0;
  color: var(--dark-bg);
  cursor: pointer;
}
.control button:disabled{
  opacity: 0.3
}
.back svg, .control svg{
  width: 2rem;
}
.back svg{
  vertical-align: bottom;
  display: inline;
}
.back{
  text-decoration:none;

}
.arrow-left {
  width: 1rem;
  display: inline;
  margin-right: 0.5rem;
}

.portfolio {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.portfolio-item img {
  width: 100%;
  margin-bottom: -8px;
}
.portfolio-item {
  list-style: none;
  min-width: 800px;
  padding: 4px;
  border: 1px solid #ddd;
  margin-right: 4rem;
  position: relative;
  /* transform: rotate(37deg); */
}

.portfolio-item:after {
  content: "";
  display: block;
  position: absolute;
  border: 50px solid transparent;
  border-bottom: 50px solid var(--white);
  bottom: -60px;
  right: -65px;
  box-shadow: 0px 7px 6px -9px black;
  transform: rotate(135deg);
}

.portfolio-item:before {
  content: "";
  display: block;
  position: absolute;
  border: 50px solid transparent;
  border-top: 50px solid var(--white);
  top: -60px;
  left: -65px;
  box-shadow: 0px -7px 6px -9px black;
  transform: rotate(135deg);
}

.portfolio-item figcaption {
  position: absolute;
  font-size: 0.875rem;
  bottom: -24px;
  color: var(--dark-bg);
}

/* .portfolio-item:nth-child(3n + 1) {
  transform: rotate(-1deg);
}
.portfolio-item:nth-child(3n + 2) {
  transform: rotate(0);
}
.portfolio-item:nth-child(3n + 3) {
  transform: rotate(1deg);
} */
/** dark mode **/

@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: var(--dark-bg);
  }
  h1,
  h2,
  h3 {
    color: var(--white);
  }
  a {
    color: #809fff;
  }
  .control button{
    color: white;
  }

  .revert {
    filter: invert(0.85);
  }

  main .logo{
    filter: grayscale(0);
  }
  
  .social-links img {
    filter: brightness(1);
  }
  .portfolio-item:after {
    border-bottom-color: var(--dark-bg);
  }
  .portfolio-item:before {
    border-top-color: var(--dark-bg);
  }
  .paper {
    background: #536a81;
  }
  .portfolio-item {
    border-color: #536a81;
  }
  .portfolio-item figcaption {
    color: #ffffff;
  }
}
/* slide deck */
.d-grid{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  padding: 5rem 2rem;
}

@media only screen and (min-width: 1900px) {
  .d-grid { grid-template-columns: repeat(4, 1fr); }
}

@media only screen and (max-width: 1400px) {
  .d-grid { grid-template-columns: repeat(3, 1fr); }
}
@media only screen and (max-width: 1024px) {
  .d-grid { grid-template-columns: repeat(2, 1fr); }
}

@media only screen and (max-width: 567px) {
  .d-grid { grid-template-columns: repeat(1, 1fr); }
}